block incTop
  include ../_variables
  include ../_mixin
doctype html
html(lang="en")
  head
    block meta
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      block descriptionMeta
        meta(name="description", content="abubakr hisham personal website for front-end developer that shown his portfolio and way to contact")
    block links
      include ../../includes/_links
    block styles
      include ../../includes/_styles
    title=title
  body
    block bodyContent
      header
        block header
      main
        block mainContent
      footer
        block footerContent
    block incBottom
      include ../../includes/_scripts