.Services {
  @extend %sectionBackground;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    @extend %spikesTop;
  }
  .container {
    @include responGridCol(18.75rem, 2.5rem);
    @include in {
      grid-template-columns: 1fr;
    }
  }
  .service-box {
    @extend %mainBoxShadow;
    @extend %transition;
    background-color: var(--background-color);
    color: var(--main-color);
    position: relative;
    &::before {
      @extend %transition;
      @include line(var(--main-color), 0.25rem, top, 100%, 100%, 0);
      transform: translateX(50%);
    }
    &:hover {
      transform: translateY(-5%);
      &::before {
        width: 100%;
      }
    }
  }
  .service {
    @extend %fCenter;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
  .info {
    display: flex;
    justify-content: flex-end;
    padding: 0.9375rem;
    background-color: #f9f9f9;
    position: relative;
    &::before {
      @extend %fCenter;
      @extend %bold;
      content: attr(data-number);
      background-color: var(--main-color);
      position: absolute;
      color: #f9f9f9;
      left: 0;
      top: 0;
      width: 5rem;
      height: 100%;
      padding-right: 0.9375rem;
      font-size: 1.875rem;
      box-sizing: content-box;
    }
    &::after {
      content: "";
      position: absolute;
      left: 5rem;
      top: 0;
      background-color: #d5d5d5;
      width: 3.125rem;
      height: 100%;
      transform: skewX(-30deg);
    }
  }
  h3 {
    color: inherit;
    font-size: 1.5625rem;
  }
  i {
    color: #d5d5d5;
  }
}
