@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --text-color: #666;
  --alt-text-color: #2196f3;
  --background-color: #ffffff;
  --alt-background-color: #0f748f;
  --section-background: #ececec;
  --headings-color: #1f2021;
  --alt-headings-color: #2196f3;
  --main-transition: 0.3s;
  --header-height: 4.5rem;
  --main-padding-top: 6.25rem;
  --main-padding-bottom: 6.25rem;
  --font-family: Cairo, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --main-font: Cairo;
  --main-font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.15;
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

button, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

footer .link-box li a, footer .social a, .Discount .request-discount form input[type=submit],
.Discount .request-discount form textarea[type=submit], .Discount .discount-info li, .Stats .stat, .Video .video-list a, .plans .plan-footer a, .plans .plan:after, .plans .plan:before, .Events form input[type=submit], .Events .number, .Events .unit, .Work-Steps .step-box::before, .Skills .skills-box .the-prog span.prog, .Services .service-box::before, .Services .service-box, .Team h3, .Team .top::before,
.Team .content::before, .Team .social a, .Team .top img, .Features .feature .image::after, .Features .feature a:before, .Features .feature a, .Gallery .imgBox img, .Gallery .imgBox:hover::after, .Articles .article-card, .Landing .container > a, header .magaMenu a:after, header .magaMenu, header nav > ul > li > a:after, header nav > ul > li > a, .special-head::after, .special-head::before, .special-head, .loader {
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.Discount .request-discount form input[type=submit],
.Discount .request-discount form textarea[type=submit], .Stats span.title, .Stats span.number, .Video .video-list .caption, .plans .plan-footer a, .plans .plan-head .price, .plans .plan.special-plan .special-plan-title, .Events form input[type=submit], .Events .number, .Services .info::before, .Testimonials .filled, .Features .feature a, .Articles .article-card .more, header .magaMenu a, header .logo {
  font-weight: bold;
}

footer .desgister, .Discount .discount-info .container, .plans .plan-footer, .plans .plan-features, .plans .plan-head {
  position: relative;
  z-index: 1;
}

.Pricing, .Work-Steps, .Services, .Testimonials, .Gallery {
  background-color: var(--section-background);
}

section:not(.Landing, .Discount) {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
@media (max-width: 991px) {
  section:not(.Landing, .Discount) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.Discount, .Work-Steps .container, .Skills .container, .Landing .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
}

footer .contact-box .text, footer .contact-box, footer .link-box .links, .Discount .request-discount form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

footer .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Discount .discount-info .container, .Stats .stat, .plans .plan-head, .Features .feature .content, .Features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Landing .container > a {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.special-head::after, .special-head::before {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

footer .contact-box .info, footer .link-box li a, header .magaMenu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .desgister, footer .social a, footer .social, .Discount > div, .plans .plan-head .price::after, .plans .plan.special-plan .special-plan-title, .Events .event, .Services .info::before, .Services .service, .Team .social a, .Team .social, .Features .feature .image, .Landing, header nav > ul > li > a, header .logo, .buttons, .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Team .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Work-Steps .step-box::before, .Gallery .imgBox::after, .loader {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.Video .preview, .Skills .skills-box h3, .Articles .article-card .more, header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav > ul, ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}

.plans .plan, .Services .service-box, .Articles .article-card, header {
  -webkit-box-shadow: 0 0.125rem 1rem 0 rgba(31, 32, 33, 0.1);
          box-shadow: 0 0.125rem 1rem 0 rgba(31, 32, 33, 0.1);
}

.Pricing > img, .Events > img {
  position: absolute;
  z-index: 0;
}
.Pricing > img:first-of-type, .Events > img:first-of-type {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  right: 0;
}
.Pricing > img:last-of-type, .Events > img:last-of-type {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  bottom: 0;
  left: 0;
}

.Services::before, .Gallery::before {
  left: 0;
  top: 0;
  background-image: linear-gradient(135deg, var(--background-color) 25%, transparent 25%), linear-gradient(225deg, var(--background-color) 25%, transparent 25%);
  background-size: 2rem 2rem;
  background-repeat: repeat;
  height: 2rem;
  width: 100%;
}

.Gallery::after {
  left: 0;
  top: 0;
  top: auto;
  bottom: 0;
  background-image: linear-gradient(45deg, var(--background-color) 25%, transparent 25%), linear-gradient(315deg, var(--background-color) 25%, transparent 25%);
  background-size: 2rem 2rem;
  background-repeat: repeat;
  height: 2rem;
  width: 100%;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.95);
  z-index: 1000;
}

.loader-effect {
  color: #c5c5c5;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.3125rem;
  line-height: 1;
  position: relative;
}

.loader-effect:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100%;
  background-color: white;
  mix-blend-mode: difference;
  -webkit-animation: loadingMove 5s linear infinite;
          animation: loadingMove 5s linear infinite;
}

@-webkit-keyframes loadingMove {
  0%, 100% {
    right: calc(100% - 5rem);
  }
  50% {
    right: 0;
  }
}

@keyframes loadingMove {
  0%, 100% {
    right: calc(100% - 5rem);
  }
  50% {
    right: 0;
  }
}
@-webkit-keyframes leftRight {
  0%, 100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}
@keyframes leftRight {
  0%, 100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}
@-webkit-keyframes upDown {
  0%, 100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}
@keyframes upDown {
  0%, 100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}
@-webkit-keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  40%, 60% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  40%, 60% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}
@media (max-width: 991px) {
  section:not(.Landing, .Discount) {
    text-align: center;
  }
}

.buttons {
  gap: 2rem;
}

.Discount .request-discount form input[type=submit],
.Discount .request-discount form textarea[type=submit], .plans .plan-footer a:hover, .plans .plan.special-plan .special-plan-title, .Events form input[type=submit] {
  background-color: var(--main-color);
  color: var(--background-color);
}

.special-head {
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5rem;
  border: 0.15rem solid var(--headings-color);
  position: relative;
  z-index: 1;
  padding: 0.625rem 1.25rem;
  font-size: 1.875rem;
  cursor: default;
}
@media (max-width: 767px) {
  .special-head {
    font-size: 1.5rem;
  }
}
.special-head:hover {
  border-color: #ffffff;
  color: #ffffff;
}
.special-head:hover::before {
  left: 0;
}
.special-head:hover::after {
  right: 0;
}
.special-head:hover::after, .special-head:hover::before {
  height: 100%;
  width: 50%;
  border-radius: 0;
}
.special-head::after, .special-head::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 0 solid transparent;
  background-color: var(--main-color);
}
.special-head::after {
  right: -2rem;
}
.special-head::before {
  left: -2rem;
}

header {
  position: relative;
}
header .container {
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .logo {
  font-size: 1.625rem;
  height: var(--header-height);
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .logo {
    height: 3.125rem;
  }
}
header nav {
  color: var(--headings-color);
}
header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav > ul > li > a {
  position: relative;
  height: var(--header-height);
  padding: 0rem 1.875rem;
  font-size: 1.125rem;
}
@media (max-width: 767px) {
  header nav > ul > li > a {
    padding: 0rem 0.625rem;
    font-size: 0.875rem;
    height: calc(var(--header-height) - 2rem);
  }
}
header nav > ul > li > a:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0px;
  right: 0px;
  height: 0.25rem;
  width: calc(0% - 0px);
  left: 0;
}
header nav > ul > li > a:hover,
header nav > ul > li > a:focus, header nav > ul > li.active > a {
  color: var(--main-color);
  background-color: rgba(236, 236, 236, 0.3);
}
header nav > ul > li > a:hover:after,
header nav > ul > li > a:focus:after, header nav > ul > li.active > a:after {
  width: 100%;
}
header nav > ul > li:last-of-type:hover .magaMenu, header nav > ul > li:last-of-type:focus .magaMenu, header nav > ul > li:last-of-type.active .magaMenu {
  top: calc(100% + 0.0625rem);
  z-index: 100;
  opacity: 1;
}
header .magaMenu {
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% + 3.125rem);
  z-index: -1;
  opacity: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2.5rem;
  background-color: var(--background-color);
  color: var(--main-color);
  padding: 1.875rem;
}
@media (max-width: 991px) {
  header .magaMenu {
    grid-template-columns: 1fr 1fr;
  }
  header .magaMenu img {
    display: none;
  }
}
@media (max-width: 767px) {
  header .magaMenu {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }
  header .magaMenu > ul:not(:last-of-type) li:last-of-type a {
    border-bottom: 0.0625rem solid #e9e6e6;
  }
}
header .magaMenu:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  bottom: 0px;
  right: 0px;
  height: 0.1875rem;
  width: calc(100% - 0px);
  z-index: -1;
}
header .magaMenu ul {
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .magaMenu a {
  gap: 0.625rem;
  padding: 1rem;
  font-size: 1.125rem;
  position: relative;
}
header .magaMenu a:after {
  content: "";
  position: absolute;
  background-color: rgba(236, 236, 236, 0.3);
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: calc(100% - 0px);
  left: 0;
  width: 0%;
  z-index: -1;
}
header .magaMenu a:hover:after {
  width: 100%;
}
header .magaMenu li:not(:last-of-type) a {
  border-bottom: 0.0625rem solid #e9e6e6;
}

.Landing {
  min-height: calc(100vh - var(--header-height));
  position: relative;
  overflow: hidden;
}
.Landing::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  z-index: -1;
}
.Landing .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7.5rem;
}
@media (max-width: 991px) {
  .Landing .container {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
.Landing .container > img {
  -webkit-animation: upDown 5s linear infinite alternate;
          animation: upDown 5s linear infinite alternate;
}
@media (max-width: 991px) {
  .Landing .container > img {
    display: none;
  }
}
.Landing .container > a {
  z-index: 1;
  color: var(--main-color);
  position: absolute;
  bottom: 2rem;
}
.Landing .container > a:hover {
  color: var(--alt-color);
}
.Landing .container > a i {
  -webkit-animation: bouncing 1.5s infinite;
          animation: bouncing 1.5s infinite;
}
.Landing h1 {
  font-size: 2.5rem;
  letter-spacing: -0.125rem;
}
@media (max-width: 991px) {
  .Landing h1 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }
}
.Landing p {
  margin: 0.03125rem 0 0;
  max-width: 31.25rem;
  line-height: 1.7;
  font-size: 1.4375rem;
}
@media (max-width: 991px) {
  .Landing p {
    font-size: 1rem;
  }
}

.Articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 2.5rem;
}
.Articles .article-card {
  overflow: hidden;
  border-radius: 0.3125rem;
}
.Articles .article-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 0.125rem 0.625rem 0.3125rem rgba(31, 32, 33, 0.1);
          box-shadow: 0 0.125rem 0.625rem 0.3125rem rgba(31, 32, 33, 0.1);
}
.Articles .article-card:hover .more i {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.Articles .article-card .more,
.Articles .article-card .content {
  padding: 1.25rem;
}
.Articles .article-card .content {
  border-bottom: 0.0625rem solid var(--section-background);
  text-align: start;
}
@media (max-width: 576px) {
  .Articles .article-card .content {
    text-align: center;
  }
}
.Articles .article-card .content h3 {
  margin-bottom: 0.625rem;
}
.Articles .article-card .content p {
  line-height: 1.5;
}
.Articles .article-card .more {
  color: var(--main-color);
}
.Articles .article-card .more i {
  -webkit-animation: leftRight 0.5s linear infinite alternate paused;
          animation: leftRight 0.5s linear infinite alternate paused;
}

.Gallery {
  position: relative;
}
.Gallery::after {
  content: "";
  position: absolute;
}
.Gallery::before {
  content: "";
  position: absolute;
}
.Gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .Gallery .container {
    grid-template-columns: 1fr;
  }
}
.Gallery .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border: 0.9375rem solid var(--background-color);
  position: relative;
}
.Gallery .imgBox::after {
  content: "";
  width: 0%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.5254901961);
}
.Gallery .imgBox:hover::after {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.Gallery .imgBox:hover img {
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}
.Features {
  position: relative;
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .Features .container {
    grid-template-columns: 1fr;
  }
}
.Features .feature {
  overflow: hidden;
  border: 0.0625rem solid var(--section-background);
  position: relative;
}
.Features .feature:hover .image::after {
  border-width: 0rem 28rem 9rem 0rem;
}
@media (max-width: 767px) {
  .Features .feature:hover .image::after {
    border-width: 0rem 44rem 9rem 0rem;
  }
}
.Features .feature:hover a {
  color: #ffffff !important;
}
.Features .feature:hover a:before {
  width: 100%;
}
.Features .feature .content {
  text-align: center;
  line-height: 2;
  padding: 1rem;
}
.Features .feature a {
  position: relative;
  padding: 0.625rem 1.875rem;
  border: 0.1875rem solid;
  margin-bottom: 1.875rem;
  border-radius: 0.3125rem;
  font-size: 1.375rem;
}
@media (max-width: 767px) {
  .Features .feature a {
    font-size: 1rem;
  }
}
.Features .feature a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--headings-color);
  top: 0;
  left: 0;
  z-index: -1;
}
.Features .feature h3 {
  position: relative;
  font-size: 2.5rem;
}
@media (max-width: 767px) {
  .Features .feature h3 {
    font-size: 2rem;
  }
}
.Features .feature h3::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  bottom: 0;
  right: 15%;
  height: 0.3125rem;
  width: calc(100% - 30%);
}
.Features .feature .image {
  position: relative;
  overflow: hidden;
}
.Features .feature .image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.Features .feature .image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0rem 10.5rem 28rem;
  border-color: transparent transparent var(--background-color);
  width: 100%;
  bottom: 0;
  right: 0;
}
@media (max-width: 767px) {
  .Features .feature .image::after {
    border-width: 0rem 0rem 9rem 44rem;
  }
}
.Features .feature:nth-of-type(1) .image::before {
  background-color: rgba(244, 64, 54, 0.6);
}
.Features .feature:nth-of-type(1) h3::after {
  background-color: #f44036;
}
.Features .feature:nth-of-type(1) a {
  color: #f44036;
  border-color: #f44036;
}
.Features .feature:nth-of-type(1) a:before {
  background-color: #f44036;
}
.Features .feature:nth-of-type(2) .image::before {
  background-color: rgba(0, 150, 136, 0.6);
}
.Features .feature:nth-of-type(2) h3::after {
  background-color: #009688;
}
.Features .feature:nth-of-type(2) a {
  color: #009688;
  border-color: #009688;
}
.Features .feature:nth-of-type(2) a:before {
  background-color: #009688;
}
.Features .feature:nth-of-type(3) .image::before {
  background-color: rgba(3, 169, 244, 0.6);
}
.Features .feature:nth-of-type(3) h3::after {
  background-color: #03a9f4;
}
.Features .feature:nth-of-type(3) a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.Features .feature:nth-of-type(3) a:before {
  background-color: #03a9f4;
}
.Features .feature p {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .Features .feature p {
    font-size: 1rem;
  }
}

.Testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .Testimonials .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.Testimonials .customer-box {
  position: relative;
  background-color: white;
  border-radius: 5px;
}
.Testimonials .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0.625rem var(--section-background);
          box-shadow: 0 0 0 0.625rem var(--section-background);
}
@media (max-width: 767px) {
  .Testimonials .imgBox {
    max-width: 4rem;
  }
}
.Testimonials .imgBox img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}
.Testimonials .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1.25rem;
  gap: 0.3125rem;
  line-height: 1.5;
}
.Testimonials .rate {
  color: var(--headings-color);
}
.Testimonials .filled {
  color: #ffc107;
}

.Team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .Team .container {
    grid-template-columns: 1fr;
  }
}
.Team .top {
  padding-top: 4rem;
  background-color: #f3f3f3;
  margin-left: auto;
  border-radius: 0.625rem 0.625rem 0 0;
  position: relative;
  width: calc(100% - 4rem);
}
@media (max-width: 767px) {
  .Team .top {
    padding-top: 1rem;
    width: 100%;
  }
}
.Team .top img {
  border-radius: 0.625rem;
  position: relative;
}
@media (max-width: 767px) {
  .Team .top img {
    max-width: calc(100% - 5rem);
  }
}
.Team .social {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  min-width: 4rem;
}
.Team .social a {
  width: 100%;
  min-height: 2.5rem;
}
.Team .social a:hover {
  color: var(--main-color);
}
.Team .top::before,
.Team .content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(63, 75, 86, 0.1);
  z-index: 0;
  border-radius: 0.625rem 0.625rem 0 0;
}
.Team .content {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
  margin-left: 4rem;
  border-radius: 0 0 0.625rem 0.625rem;
}
@media (max-width: 767px) {
  .Team .content {
    margin-left: 0;
    text-align: start;
  }
}
.Team .content::before {
  border-radius: 0 0 0.625rem 0.625rem;
}
.Team h3 {
  position: relative;
  color: var(--main-color);
  font-size: 22px;
}
.Team p {
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.Team .member-box:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.Team .member-box:hover .top::before,
.Team .member-box:hover .content::before {
  width: 100%;
}
.Team .member-box:hover h3 {
  color: #777;
}

.Services {
  position: relative;
}
.Services::before {
  content: "";
  position: absolute;
}
.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .Services .container {
    grid-template-columns: 1fr;
  }
}
.Services .service-box {
  background-color: var(--background-color);
  color: var(--main-color);
  position: relative;
}
.Services .service-box::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  right: 50%;
  height: 0.25rem;
  width: calc(100% - 100%);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.Services .service-box:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.Services .service-box:hover::before {
  width: 100%;
}
.Services .service {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.Services .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.9375rem;
  background-color: #f9f9f9;
  position: relative;
}
.Services .info::before {
  content: attr(data-number);
  background-color: var(--main-color);
  position: absolute;
  color: #f9f9f9;
  left: 0;
  top: 0;
  width: 5rem;
  height: 100%;
  padding-right: 0.9375rem;
  font-size: 1.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.Services .info::after {
  content: "";
  position: absolute;
  left: 5rem;
  top: 0;
  background-color: #d5d5d5;
  width: 3.125rem;
  height: 100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}
.Services h3 {
  color: inherit;
  font-size: 1.5625rem;
}
.Services i {
  color: #d5d5d5;
}

@media (max-width: 767px) {
  .Skills .container {
    grid-template-columns: 1fr;
  }
  .Skills .container img {
    display: none;
  }
}
.Skills .skills-box h3 {
  margin-bottom: 1rem;
}
.Skills .skills-box h3 span {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  background-color: var(--background-color);
  color: var(--main-color);
  border: 0.0625rem solid var(--section-background);
  border-radius: 0.25rem;
}
.Skills .skills-box .the-prog {
  height: 1.875rem;
  background-color: #eee;
  margin: 0.25rem 0 1.5rem;
}
.Skills .skills-box .the-prog span.prog {
  background-color: var(--main-color);
  display: block;
  height: 100%;
  width: var(--width);
}

.Work-Steps .container {
  gap: 1rem;
}
@media (max-width: 991px) {
  .Work-Steps .container {
    grid-template-columns: 1fr;
  }
}
.Work-Steps .steps-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  padding-left: 0.125rem;
}
.Work-Steps .step-box {
  display: grid;
  grid-template-columns: 4rem 1fr;
  background-color: #f6f5f5;
  border: 0.125rem solid white;
  padding: 1.875rem;
  border-radius: 0.25rem;
  gap: 1.875rem;
  line-height: 1.5;
  font-size: 1.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .Work-Steps .step-box {
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 0.875rem;
    font-size: 0.875rem;
  }
  .Work-Steps .step-box img {
    max-width: 3.5rem;
  }
}
.Work-Steps .step-box::before {
  content: "";
  width: 0%;
  height: 0%;
  z-index: 0;
  background-color: #ededed;
}
.Work-Steps .step-box:hover::before {
  width: 100%;
  height: 100%;
}
.Work-Steps .step-box,
.Work-Steps .step-box img,
.Work-Steps .step-box .content {
  position: relative;
}
.Work-Steps h3 {
  margin-bottom: 0.5rem;
}

.Events {
  position: relative;
}
@media (max-width: 991px) {
  .Events > img {
    display: none;
  }
}
.Events .container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem 1rem;
}
@media (max-width: 991px) {
  .Events .container {
    grid-template-columns: 1fr;
  }
}
.Events .container > img {
  max-width: 28.125rem;
}
@media (max-width: 991px) {
  .Events .container > img {
    display: none;
  }
}
.Events .event {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.Events .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (max-width: 991px) {
  .Events .time {
    gap: 0.5rem;
  }
}
.Events .unit {
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  min-width: 4.625rem;
  background-color: var(--background-color);
}
@media (max-width: 991px) {
  .Events .unit {
    min-width: 3.625rem;
  }
}
.Events .unit:hover,
.Events .unit:hover .number {
  border-color: var(--main-color);
}
.Events .number {
  padding: 1rem;
  color: var(--main-color);
  border-bottom: 0.0625rem solid #ccc;
  font-size: 2rem;
}
@media (max-width: 991px) {
  .Events .number {
    padding: 0.3125rem;
    font-size: 1.5rem;
  }
}
.Events .title {
  padding: 0.5rem;
}
@media (max-width: 991px) {
  .Events .title {
    padding: 0.3125rem;
    font-size: 0.875rem;
  }
}
.Events .content {
  font-size: 1.1875rem;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .Events .content {
    font-size: 0.875rem;
  }
}
.Events .content h3 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .Events .content h3 {
    font-size: 1.625rem;
  }
}
.Events form {
  background-color: #f6f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  grid-column: 1/3;
  padding: 2rem;
  margin: auto;
  border-radius: 3rem;
  font-size: 1rem;
  width: 100%;
  max-width: 38.5rem;
}
@media (max-width: 767px) {
  .Events form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0.25rem;
    font-size: 0.875rem;
  }
}
.Events form input {
  border-radius: 2rem;
  border: none;
  font-size: inherit;
}
@media (max-width: 767px) {
  .Events form input {
    border-radius: 0.25rem;
  }
}
.Events form input[type=text] {
  padding: 1rem;
  width: 100%;
}
.Events form input[type=submit] {
  padding: 1.25rem;
  cursor: pointer;
}
.Events form input[type=submit]:hover {
  background-color: var(--alt-color);
}

.Pricing {
  position: relative;
}
.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22.375rem, 1fr));
  gap: 2rem;
  text-align: center;
  min-height: 45rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 767px) {
  .plans {
    grid-template-columns: 1fr;
  }
}
.plans .plan {
  background-color: var(--background-color);
  position: relative;
}
.plans .plan.special-plan {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.plans .plan.special-plan .special-plan-title {
  position: absolute;
  right: 2rem;
  top: 0;
  font-size: 1.125rem;
  width: 2.25rem;
  padding-top: 1rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.plans .plan.special-plan .special-plan-title::before {
  content: "";
  position: absolute;
  border: 1.125rem solid;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  border-color: var(--main-color) var(--main-color) transparent var(--main-color);
  bottom: -2.25rem;
}
.plans .plan:hover:after, .plans .plan:hover:before {
  width: 100%;
}
.plans .plan:before {
  left: 0;
  top: 0;
}
.plans .plan:after {
  bottom: 0;
  right: 0;
}
.plans .plan:after, .plans .plan:before {
  content: "";
  height: 50%;
  width: 0%;
  background-color: rgba(243, 243, 243, 0.6588235294);
  position: absolute;
  z-index: 0;
}
.plans .plan-head {
  color: var(--main-color);
  border-bottom: 0.0625rem solid var(--section-background);
  padding: 2rem 1.25rem;
  gap: 2rem;
}
.plans .plan-head img {
  max-width: 5rem;
}
.plans .plan-head h3 {
  font-size: 1.5rem;
}
.plans .plan-head .price {
  position: relative;
  font-size: 3.5rem;
}
.plans .plan-head .price::before {
  content: attr(data-currency);
}
.plans .plan-head .price::after {
  content: attr(data-every);
  font-size: 1rem;
  font-weight: normal;
  color: #777;
}
.plans .plan-features li {
  text-align: start;
  padding: 1rem;
}
.plans .plan-features li:not(:last-of-type) {
  border-bottom: 0.0625rem solid var(--section-background);
}
.plans .plan-features li::before {
  content: var(--icon);
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  padding-right: 1rem;
  color: var(--main-color);
}
.plans .plan-footer {
  color: var(--main-color);
}
.plans .plan-footer a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.25rem;
  margin: 2rem auto;
  border: 0.125rem solid var(--main-color);
  border-radius: 0.3125rem;
}
.Video {
  color: var(--headings-color);
}
.Video .container {
  display: grid;
  grid-template-columns: 18.75rem 1fr;
}
@media (max-width: 991px) {
  .Video .container {
    grid-template-columns: 1fr;
    text-align: start;
  }
}
.Video .video-list {
  border: 0.0625rem solid #e2e2e2;
}
.Video .video-list a,
.Video .video-list .caption {
  padding: 1.5rem 1.25rem;
}
.Video .video-list .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f4f4;
}
.Video .video-list li.active a,
.Video .video-list a:focus,
.Video .video-list a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.Video .video-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  border-top: 0.0625rem solid #e2e2e2;
}
.Video .video-list span.time {
  color: var(--text-color);
}
.Video .preview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #e2e2e2;
  padding: 0.625rem;
}
.Video .preview img {
  display: block;
}
.Video .preview .info {
  margin-top: 0.625rem;
  padding: 1.25rem;
  background-color: var(--background-color);
}

.Stats {
  background-color: var(--section-background);
  background-image: url(../imgs/stats.jpg);
  background-blend-mode: screen;
}
.Stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.625rem, 1fr));
  gap: 1.5rem;
}
.Stats h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 2.5rem;
  padding: 0.625rem 1.25rem;
  font-size: 2.5rem;
}
.Stats .stat {
  background-color: var(--background-color);
  color: var(--headings-color);
  opacity: 0.8;
  padding: 2rem;
  gap: 0.75rem;
  position: relative;
}
.Stats .stat::after, .Stats .stat::before {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  content: "";
  position: absolute;
  background-color: var(--main-color);
  left: 0px;
  top: 0px;
  width: 0.125rem;
  height: calc(0% - 0px);
}
.Stats .stat::before {
  bottom: 0;
  top: auto;
}
.Stats .stat::after {
  left: auto;
  right: 0;
}
.Stats .stat:hover {
  opacity: 1;
}
.Stats .stat:hover::after, .Stats .stat:hover::before {
  height: 100%;
}
.Stats span.number {
  font-size: 3rem;
}
.Stats span.title {
  color: var(--main-color);
  font-size: 1.25rem;
  font-style: italic;
}

.Discount {
  text-align: center;
  min-height: 100vh;
}
@media (max-width: 991px) {
  .Discount {
    grid-template-columns: 1fr;
  }
}
.Discount h2 {
  font-size: 2.5rem;
  letter-spacing: -0.125rem;
}
@media (max-width: 767px) {
  .Discount h2 {
    font-size: 1.5rem;
    letter-spacing: 0rem;
  }
}
.Discount p {
  font-size: 1.125rem;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .Discount p {
    font-size: 0.875rem;
  }
}
.Discount > div {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.Discount .discount-info {
  position: relative;
  color: var(--background-color);
}
.Discount .discount-info::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 135, 224, 0.975);
  z-index: 1;
}
.Discount .discount-info .container {
  max-width: 32.875rem;
}
.Discount .discount-info .container img {
  max-width: 18.125rem;
}
.Discount .discount-info h2 {
  color: var(--background-color);
  margin: 2.5rem 0;
}
.Discount .discount-info li {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}
.Discount .discount-info li.active {
  opacity: 1;
}
.Discount .request-discount .container {
  max-width: 21.75rem;
}
.Discount .request-discount h2 {
  margin-bottom: 2.625rem;
}
.Discount .request-discount form {
  gap: 1.5625rem;
}
.Discount .request-discount form input,
.Discount .request-discount form textarea {
  padding: 0.9375rem;
  background-color: #f9f9f9;
  color: var(--main-color);
  outline-color: var(--main-color);
  border: none;
  border-bottom: 0.0625rem solid #ccc;
  font-family: inherit;
  font-size: 1rem;
  height: 3.125rem;
}
.Discount .request-discount form input::-webkit-input-placeholder, .Discount .request-discount form textarea::-webkit-input-placeholder {
  font-family: inherit;
  color: #757575;
}
.Discount .request-discount form input::-moz-placeholder, .Discount .request-discount form textarea::-moz-placeholder {
  font-family: inherit;
  color: #757575;
}
.Discount .request-discount form input:-ms-input-placeholder, .Discount .request-discount form textarea:-ms-input-placeholder {
  font-family: inherit;
  color: #757575;
}
.Discount .request-discount form input::-ms-input-placeholder, .Discount .request-discount form textarea::-ms-input-placeholder {
  font-family: inherit;
  color: #757575;
}
.Discount .request-discount form input::placeholder,
.Discount .request-discount form textarea::placeholder {
  font-family: inherit;
  color: #757575;
}
.Discount .request-discount form input[type=submit],
.Discount .request-discount form textarea[type=submit] {
  padding: 0;
  font-size: 1.25rem;
}
.Discount .request-discount form input[type=submit]:hover,
.Discount .request-discount form textarea[type=submit]:hover {
  background-color: var(--alt-color);
}
.Discount .request-discount form textarea {
  height: 12.5rem;
  resize: none;
}

footer {
  background-color: #191919;
  color: #b9b9b9;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.625rem, 1fr));
  gap: 2.625rem;
  padding: 4.375rem 1rem 3.125rem;
  position: relative;
}
footer .info-box {
  gap: 1.25rem;
}
footer .info-box h3 {
  font-size: 3.125rem;
  color: var(--background-color);
}
footer .info-box p {
  line-height: 2;
}
footer .social {
  gap: 0.625rem;
}
footer .social a {
  background-color: #313131;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.375rem;
}
footer .social li:nth-of-type(1) a:hover, footer .social li:nth-of-type(1) a:focus, footer .social li:nth-of-type(1) a:active {
  background-color: #1877f2;
}
footer .social li:nth-of-type(2) a:hover, footer .social li:nth-of-type(2) a:focus, footer .social li:nth-of-type(2) a:active {
  background-color: #1da1f2;
}
footer .social li:nth-of-type(3) a:hover, footer .social li:nth-of-type(3) a:focus, footer .social li:nth-of-type(3) a:active {
  background-color: #ff0000;
}
footer .link-box li:not(:last-of-type) a {
  border-bottom: 0.0625rem solid #444;
}
footer .link-box li a {
  gap: 1rem;
  height: 3.125rem;
}
footer .link-box li a:hover, footer .link-box li a:focus, footer .link-box li a:active {
  padding-left: 0.625rem;
  color: var(--background-color);
}
footer .link-box li a::before {
  content: var(--icon);
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  color: var(--main-color);
}
footer .contact-box {
  gap: 1.875rem;
}
footer .contact-box address.text {
  font-style: normal;
}
footer .contact-box .text {
  line-height: 1.7;
}
footer .contact-box .info {
  gap: 1rem;
}
footer .contact-box .info i {
  color: var(--main-color);
  font-size: 1.5rem;
}
footer .images-box .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
footer .images-box .images img {
  border: 0.1875rem solid var(--background-color);
}
footer .desgister {
  min-height: 4.375rem;
  border-top: 0.0625rem solid #444;
  color: var(--background-color);
}