section.Landing: .container
  .content
    h1 Welcome, To Elzero World
    p Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events
  img(src= imgsPath + "landing-image.png", alt="")
  a(href="#" + siteNav[0]): i(class="fas fa-angle-double-down fa-2x")