section.Pricing#Pricing
  +specialHead(otherLinksRight[1].name)
  .container
    img(src=imgsPath + Pricing.dots, alt="")
    img(src=imgsPath + Pricing.dots, alt="")
    +plans(Pricing.plans, Pricing.currency, Pricing.every, Pricing.planIcon)
