section.Pricing#Pricing
  +specialHead(otherLinksRight[1].name)
  img(src=imgsPath + Pricing.dots, alt="")
  img(src=imgsPath + Pricing.dots, alt="")
  .container
    +plans(Pricing.plans, Pricing.currency, Pricing.every, Pricing.planIcon)
