%transition {
  transition: var(--main-transition);
}

%bold {
  font-weight: bold;
}

%sectionPadding {
  padding: {
    top: var(--main-padding-top);
    bottom: var(--main-padding-bottom);
  }
  @include in(toSmall) {
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
  }
}
%twoColG {
  @include twoColG;
}
%hPCenter {
  @include hPCenter;
}
%vPCenter {
  @include vPCenter;
}
%fCenter {
  @include fCenter;
}
%aCenter {
  @include aCenter;
}
%fSpacer {
  @include fSpacer;
}
%ulRest {
  @include ulRest;
}
%buttonRest {
  @include buttonRest;
}
%overlay {
  @include overlay;
}
%boxCard {
  position: absolute;
  @extend %vPCenter;
  background-color: rgba($altBackgroundColor, 0.7);
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  @include in(toSmall) {
    width: 100% !important;
    justify-content: center;
  }
}
%spikesTop {
  @include spikes(var(--background-color), 2rem);
}
%spikesBottom {
  @include spikes(var(--background-color), 2rem, 100%, bottom);
}

@include leftRight(20%, -20%);
@include upDown(10%, -10%);
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(50%, 0%);
  }
  40%,
  60% {
    transform: translate(50%, -60%);
  }
}

section:not(.landing) {
  @extend %sectionPadding;
  @include in(toSmall) {
    text-align: center;
  }
}
.buttons {
  @extend %fCenter;
  gap: 2rem;
}

%primaryButton {
  background-color: $mainColor;
  color: $altColor;
}
@import "components";
@import "../layout/header";
@import "landing";
@import "articles";
@import "gallery";
@import "services";
@import "portfolio";
@import "about";
@import "pricing";
@import "contact";
@import "../layout/footer";
