.Landing {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  @extend %sectionBackground;
  &::after {
    content: "";
    position: absolute;
    height: 15rem;
    width: 200%;
    transform: rotate(358deg) translate(-10%, 35%);
    border-radius: 50%;
    background-color: $white;
    bottom: 0;
  }
  .container {
    @extend %twoColG;
    align-items: center;
    padding-bottom: 7.5rem;
    height: 100%;
    > img {
      animation: upDown 4s linear infinite alternate;
      z-index: 1;
    }
    > a {
      @extend %hPCenter;
      z-index: 1;
      color: var(--main-color);
      position: absolute;
      bottom: 2rem;
      animation: bouncing 1.5s infinite;
    }
  }
  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.125rem;
    @include in(smallMobile) {
      font-size: 1.125rem;
    }
  }
  p {
    margin: 0.03125rem 0 0;
    max-width: 31.25rem;
    line-height: 1.7;
    font-size: 1.4375rem;
    @include in(smallMobile) {
      font-size: 1rem;
    }
  }
}
