.services {
  .serv-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @extend %sectionPadding;
    gap: 4.875rem 5.625rem;
    @include in(toSmall) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }
}
.desgin {
  @extend %sectionPadding;
  background: {
    color: $altHeadingsColor;
    image: url("/src/assets/images/desgin-feature-01.jpg");
    size: cover;
    attachment: fixed;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 32.5rem;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    @extend %overlay;
  }
  @include in(toSmall) {
    background-attachment: local;
  }
  .images img {
    &:first-of-type {
      transform: translate(45%, 2%);
      z-index: 1;
      position: relative;
    }
    &:last-of-type {
      transform: translate(0%, 2%);
    }
    @include in(toSmall) {
      display: none;
    }
  }
  .text {
    @extend %boxCard;
    justify-content: flex-start;
    flex-direction: column;
    right: 0;
    width: 50%;
    height: calc(100% - 12.5rem);
    color: $altColor;
    font: {
      size: 1.125rem;
      weight: 300;
    }
    text-align: start;
    @include in(smallMobile) {
      font-size: 0.875rem;
    }
    h3 {
      font: {
        size: 1.3331rem;
        weight: 300;
      }
      color: inherit;
      margin-bottom: 1.4rem;
      @include in(smallMobile) {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
    ul {
      @extend %ulRest;
      li {
        padding: 0.3rem 3.25rem;
        position: relative;
        @include in(smallMobile) {
          padding: {
            left: 1.75rem;
            right: 1.75rem;
          }
        }
        &::before {
          content: var(--icon);
          font: {
            family: "Font Awesome 6 Pro";
            weight: 900;
          }
          position: absolute;
          left: 0;
          bottom: 0rem;
        }
      }
    }
  }
}
