$white: #ffffff;

$mainColor: #2196f3;
$altColor: #1787e0;
$backgroundColor: $white;
$altBackgroundColor: #0f748f;
$sectionBackground: #ececec;
$headingsColor: #1f2021;
$altHeadingsColor: $mainColor;
$textColor: #666;
$altTextColor: $mainColor;
$listColor: #f44036 1, #009688 2, #03a9f4 3;
$socialColor: #1877f2 1, #1da1f2 2, #ff0000 3;
// $lightTextColor: ;
// $hoverColor: ;

// global sizing

$headerHeight: 4.5rem;
$sectionPadding: 6.25rem;

// specail sizing

$boxBorder: 0.625rem;
$boxSpeaser: 4rem;

$mainTransition: 0.3s;

$mainFontSize: 1rem;
$fontFamilyG: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$mainFont: "Cairo";
// $altFont: $mainFont;
$fontFamily: $mainFont, $fontFamilyG;

// $mainGradient: , ;
// $altGradient: , ;

// $radius: ;
