@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --text-color: #666;
  --alt-text-color: #2196f3;
  --background-color: #ffffff;
  --alt-background-color: #0f748f;
  --section-background: #ececec;
  --headings-color: #1f2021;
  --alt-headings-color: #2196f3;
  --main-transition: 0.3s;
  --header-height: 4.5rem;
  --main-padding-top: 6.25rem;
  --main-padding-bottom: 6.25rem;
  --font-family: Cairo, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --main-font: Cairo;
  --main-font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.15;
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, button {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.special-head, .special-head::after, .special-head::before, .article-card, header nav > ul > li > a, header nav > ul > li > a:after, header .magaMenu, header .magaMenu a:after, .Gallery .imgBox:hover::after, .Gallery .imgBox img, .Features .feature a, .Features .feature a:before, .Features .feature .image::after, .Team .top img, .Team .social a, .Team .top::before,
.Team .content::before, .Team h3, .Pricing a {
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.article-card .more, header .logo, header .magaMenu a, .Testimonials .filled {
  font-weight: bold;
}

.landing, .Gallery, .Testimonials, .Services, .Work-Steps, .Pricing {
  background-color: var(--section-background);
}

section:not(.landing) {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
@media (max-width: 991px) {
  section:not(.landing) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.landing .container, .Skills .container, .Work-Steps .container, .Discount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
}

.Features .feature, .Features .feature .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .container > a {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.special-head::after, .special-head::before, .subscribe button {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.buttons, header .logo, header nav > ul > li > a, header .magaMenu a, .Features .feature .image, .subscribe form::before, footer .social, footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Gallery .imgBox::after, footer .social::before {
  position: absolute;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.article-card .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul, header nav > ul, .plans ul, footer ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}

.subscribe::before, footer::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.Gallery::before {
  top: 0;
  background-image: linear-gradient(135deg, var(--background-color) 25%, transparent 25%), linear-gradient(225deg, var(--background-color) 25%, transparent 25%);
  background-size: 2rem 2rem;
  background-repeat: repeat;
  height: 2rem;
  width: 100%;
}

.Gallery::after {
  bottom: 0;
  background-image: linear-gradient(45deg, var(--background-color) 25%, transparent 25%), linear-gradient(315deg, var(--background-color) 25%, transparent 25%);
  background-size: 2rem 2rem;
  background-repeat: repeat;
  height: 2rem;
  width: 100%;
}

@-webkit-keyframes leftRight {
  0%,
    100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@keyframes leftRight {
  0%,
    100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}
@-webkit-keyframes upDown {
  0%,
    100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}
@keyframes upDown {
  0%,
    100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}
@-webkit-keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }
  40%,
  60% {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }
  40%,
  60% {
    -webkit-transform: translate(50%, -60%);
            transform: translate(50%, -60%);
  }
}
@media (max-width: 991px) {
  section:not(.landing) {
    text-align: center;
  }
}

.buttons {
  gap: 2rem;
}

.Pricing .contact a, .plans a:hover, .plans a:active, .subscribe button, .contact .content form button {
  background-color: #2196f3;
  color: #1787e0;
}

.special-head {
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5rem;
  border: 0.125rem solid var(--headings-color);
  position: relative;
  z-index: 1;
  padding: 0.625rem 1.25rem;
  font-size: 1.875rem;
  cursor: default;
}
.special-head:hover {
  border-color: #ffffff;
  color: #ffffff;
}
.special-head:hover::before {
  left: 0;
}
.special-head:hover::after {
  right: 0;
}
.special-head:hover::after, .special-head:hover::before {
  height: 100%;
  width: 50%;
  border-radius: 0;
}
.special-head::after, .special-head::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 0 solid transparent;
  background-color: var(--main-color);
}
.special-head::after {
  right: -2rem;
}
.special-head::before {
  left: -2rem;
}

.article-card {
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0.125rem 1rem 0 rgba(31, 32, 33, 0.1);
          box-shadow: 0 0.125rem 1rem 0 rgba(31, 32, 33, 0.1);
}
.article-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 0.125rem 0.625rem 0.3125rem rgba(31, 32, 33, 0.1);
          box-shadow: 0 0.125rem 0.625rem 0.3125rem rgba(31, 32, 33, 0.1);
}
.article-card:hover .more i {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.article-card img {
  border-radius: 0.3125rem 0.3125rem 0 0;
}
.article-card .more,
.article-card .content {
  padding: 1.25rem;
}
.article-card .content {
  border-bottom: 0.0625rem solid var(--section-background);
}
.article-card .content h3 {
  margin-bottom: 0.625rem;
}
.article-card .content p {
  line-height: 1.5;
}
.article-card .more {
  color: var(--main-color);
  border-radius: 0 0 0.3125rem 0.3125rem;
}
.article-card .more i {
  -webkit-animation: leftRight 0.5s linear infinite alternate paused;
          animation: leftRight 0.5s linear infinite alternate paused;
}

header {
  position: relative;
  -webkit-box-shadow: 0 0 0.625rem #4a4a4a38;
          box-shadow: 0 0 0.625rem #4a4a4a38;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: var(--header-height);
}
@media (max-width: 767px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .logo {
  font-size: 1.625rem;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .logo {
    height: 3.125rem;
  }
}
header nav {
  color: var(--headings-color);
}
header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav > ul > li > a {
  position: relative;
  height: var(--header-height);
  padding: 0rem 1.875rem;
  font-size: 1.125rem;
}
@media (max-width: 767px) {
  header nav > ul > li > a {
    padding: 0rem 0.625rem;
    font-size: 0.875rem;
    height: calc(var(--header-height) - 2rem);
  }
}
header nav > ul > li > a:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0px;
  right: 0px;
  height: 0.25rem;
  width: calc(0% - 0px);
  left: 0;
}
header nav > ul > li > a:hover,
header nav > ul > li > a:focus, header nav > ul > li.active > a {
  color: var(--main-color);
  background-color: rgba(236, 236, 236, 0.3);
}
header nav > ul > li > a:hover:after,
header nav > ul > li > a:focus:after, header nav > ul > li.active > a:after {
  width: 100%;
}
header nav > ul > li:last-of-type:hover .magaMenu, header nav > ul > li:last-of-type:focus .magaMenu, header nav > ul > li:last-of-type.active .magaMenu {
  top: calc(100% + 0.0625rem);
  z-index: 100;
  opacity: 1;
}
header .magaMenu {
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% + 3.125rem);
  z-index: -1;
  opacity: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2.5rem;
  background-color: var(--background-color);
  color: var(--main-color);
  padding: 1.875rem;
}
@media (max-width: 991px) {
  header .magaMenu {
    grid-template-columns: 1fr 1fr;
  }
  header .magaMenu img {
    display: none;
  }
}
@media (max-width: 767px) {
  header .magaMenu {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }
}
header .magaMenu:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  bottom: 0px;
  right: 0px;
  height: 0.1875rem;
  width: calc(100% - 0px);
  z-index: -1;
}
header .magaMenu ul {
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .magaMenu a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.625rem;
  padding: 1rem;
  font-size: 1.125rem;
  position: relative;
}
header .magaMenu a:after {
  content: "";
  position: absolute;
  background-color: rgba(236, 236, 236, 0.3);
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: calc(100% - 0px);
  left: 0;
  width: 0%;
  z-index: -1;
}
header .magaMenu a:hover:after {
  width: 100%;
}
header .magaMenu li:not(:last-of-type) a {
  border-bottom: 0.0625rem solid #e9e6e6;
}

.landing {
  position: relative;
  height: calc(100vh - var(--header-height));
}
.landing::after {
  content: "";
  position: absolute;
  height: 15rem;
  width: 200%;
  -webkit-transform: rotate(358deg) translate(-10%, 35%);
          transform: rotate(358deg) translate(-10%, 35%);
  border-radius: 50%;
  background-color: #ffffff;
  bottom: 0;
}
.landing .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7.5rem;
  height: 100%;
}
.landing .container > img {
  -webkit-animation: upDown 4s linear infinite alternate;
          animation: upDown 4s linear infinite alternate;
  z-index: 1;
}
.landing .container > a {
  z-index: 1;
  color: var(--main-color);
  position: absolute;
  bottom: 2rem;
  -webkit-animation: bouncing 1.5s infinite;
          animation: bouncing 1.5s infinite;
}
.landing h1 {
  font-size: 2.5rem;
  letter-spacing: -0.125rem;
}
@media (max-width: 576px) {
  .landing h1 {
    font-size: 1.125rem;
  }
}
.landing p {
  margin: 0.03125rem 0 0;
  max-width: 31.25rem;
  line-height: 1.7;
  font-size: 1.4375rem;
}
@media (max-width: 576px) {
  .landing p {
    font-size: 1rem;
  }
}

.Articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 2.5rem;
}

.Gallery {
  position: relative;
}
.Gallery::after {
  content: "";
  position: absolute;
}
.Gallery::before {
  content: "";
  position: absolute;
}
.Gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
.Gallery .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border: 0.9375rem solid var(--background-color);
  position: relative;
}
.Gallery .imgBox::after {
  content: "";
  width: 0%;
  height: 0%;
  background-color: #ffffff86;
}
.Gallery .imgBox:hover::after {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
}
.Gallery .imgBox:hover img {
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}

.Features {
  position: relative;
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
.Features .feature {
  overflow: hidden;
  border: 0.0625rem solid var(--section-background);
  position: relative;
}
.Features .feature:hover .image::after {
  border-width: 0rem 28rem 9rem 0rem;
}
.Features .feature:hover a {
  color: #ffffff !important;
}
.Features .feature:hover a:before {
  width: 100%;
}
.Features .feature .content {
  text-align: center;
  line-height: 2;
  padding: 1rem;
}
.Features .feature a {
  position: relative;
  padding: 0.625rem 1.875rem;
  border: 0.1875rem solid;
  margin-bottom: 1.875rem;
  border-radius: 0.3125rem;
  font-size: 1.375rem;
  font-weight: bold;
}
.Features .feature a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--headings-color);
  top: 0;
  left: 0;
  z-index: -1;
}
.Features .feature h3 {
  position: relative;
  font-size: 2.5rem;
}
.Features .feature h3::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  bottom: 0;
  right: 15%;
  height: 0.3125rem;
  width: calc(100% - 30%);
}
.Features .feature .image {
  position: relative;
  overflow: hidden;
}
.Features .feature .image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.Features .feature .image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0rem 10.5rem 28rem;
  border-color: transparent transparent var(--background-color);
  bottom: 0;
  right: 0;
}
.Features .feature:nth-of-type(1) .image::before {
  background-color: rgba(244, 64, 54, 0.6);
}
.Features .feature:nth-of-type(1) h3::after {
  background-color: #f44036;
}
.Features .feature:nth-of-type(1) a {
  color: #f44036;
  border-color: #f44036;
}
.Features .feature:nth-of-type(1) a:before {
  background-color: #f44036;
}
.Features .feature:nth-of-type(2) .image::before {
  background-color: rgba(0, 150, 136, 0.6);
}
.Features .feature:nth-of-type(2) h3::after {
  background-color: #009688;
}
.Features .feature:nth-of-type(2) a {
  color: #009688;
  border-color: #009688;
}
.Features .feature:nth-of-type(2) a:before {
  background-color: #009688;
}
.Features .feature:nth-of-type(3) .image::before {
  background-color: rgba(3, 169, 244, 0.6);
}
.Features .feature:nth-of-type(3) h3::after {
  background-color: #03a9f4;
}
.Features .feature:nth-of-type(3) a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.Features .feature:nth-of-type(3) a:before {
  background-color: #03a9f4;
}
.Features .feature p {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
.Testimonials .customer-box {
  position: relative;
  background-color: white;
  border-radius: 5px;
}
.Testimonials .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0.625rem var(--section-background);
          box-shadow: 0 0 0 0.625rem var(--section-background);
}
.Testimonials .imgBox img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}
.Testimonials .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1.25rem;
  gap: 0.3125rem;
  line-height: 1.5;
}
.Testimonials .rate {
  color: var(--headings-color);
}
.Testimonials .filled {
  color: #ffc107;
}

.Team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}
.Team .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 4rem;
  background-color: #f3f3f3;
  width: calc(100% - 4rem);
  margin-left: auto;
  border-radius: 0.625rem 0.625rem 0 0;
  position: relative;
}
.Team .top img {
  border-radius: 0.625rem;
  position: relative;
}
.Team .social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  min-width: 4rem;
}
.Team .social a:hover {
  color: var(--main-color);
}
.Team .top::before,
.Team .content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(63, 75, 86, 0.1);
  z-index: 0;
  border-radius: 0.625rem 0.625rem 0 0;
}
.Team .content {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
  margin-left: 4rem;
  border-radius: 0 0 0.625rem 0.625rem;
}
.Team .content::before {
  border-radius: 0 0 0.625rem 0.625rem;
}
.Team h3 {
  position: relative;
  color: var(--main-color);
  font-size: 22px;
}
.Team p {
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.Team .member-box:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.Team .member-box:hover .top::before,
.Team .member-box:hover .content::before {
  width: 100%;
}
.Team .member-box:hover h3 {
  color: #777;
}

.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}

.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 2.5rem;
}

.Pricing .main-heading p {
  margin-bottom: 0;
}
.Pricing a {
  display: block;
  padding: 1rem 2rem;
  margin: 2.5rem auto 0;
  font-size: 0.875rem;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Pricing .contact {
  color: #2196f3;
}
.Pricing .contact p {
  text-align: center;
  font-size: 1.25rem;
}
.Pricing .contact a {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 2rem;
  color: #2196f3;
  text-align: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.plans .plan-head {
  border-top: 0.0625rem solid #2196f3;
  border-bottom: 0.0625rem solid #2196f3;
  padding: 2rem 1.25rem;
}
.plans .plan-head h3 {
  font-size: 0.875rem;
  font-weight: normal;
  color: #2196f3;
}
.plans .plan-head .price {
  font-size: 2.875rem;
  font-weight: 600;
  position: relative;
}
.plans .plan-head .price::before {
  content: attr(data-currency);
  position: absolute;
  font-size: 1.25rem;
  bottom: 1.5rem;
  left: -1.25rem;
}
.plans .plan-head .price::after {
  content: attr(data-pre);
  text-transform: uppercase;
  position: absolute;
  font-size: 0.75rem;
  bottom: 0.5rem;
  left: calc(100% + 0.5rem);
}
.plans ul {
  border-bottom: 0.0625rem solid #2196f3;
}
.plans ul li {
  font-size: 0.875rem;
  padding: 1.5rem;
  position: relative;
}
.plans ul li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  bottom: 0px;
  right: 0px;
  height: 0.0625rem;
  width: calc(8.125rem - 0px);
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.plans a {
  color: inherit;
  border: 0.0625rem solid #2196f3;
}

.subscribe {
  color: #1787e0;
  background-color: #ffffff;
  background-image: url(/src/assets/images/subscribe.jpg);
  background-size: cover;
}
.subscribe .container {
  display: grid;
  position: relative;
  gap: 2rem;
  grid-template-columns: 58.3333333333% 41.6666666667%;
}
@media (max-width: 991px) {
  .subscribe .container {
    grid-template-columns: 1fr;
  }
}
.subscribe p {
  line-height: 2;
  padding-right: 1rem;
  word-break: break-all;
}
.subscribe form {
  position: relative;
}
.subscribe form::before {
  content: var(--icon);
  font-family: "Font Awesome 6 Pro";
  position: absolute;
  font-weight: 400;
  font-size: 1.125rem;
  width: 3.75rem;
  height: 100%;
}
@media (max-width: 576px) {
  .subscribe form::before {
    font-size: 0.875rem;
    width: 2.75rem;
  }
}
.subscribe input[type="email"] {
  width: 100%;
  height: 3.75rem;
  background-color: transparent;
  border: 0.0625rem solid #1787e0;
  padding: 1.375rem 10rem 1.375rem 3.75rem;
  caret-color: #2196f3;
  color: #1787e0;
}
.subscribe input[type="email"]::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: inherit;
  text-transform: uppercase;
}
.subscribe input[type="email"]:-ms-input-placeholder {
  font-size: 0.875rem;
  color: inherit;
  text-transform: uppercase;
}
.subscribe input[type="email"]::-ms-input-placeholder {
  font-size: 0.875rem;
  color: inherit;
  text-transform: uppercase;
}
.subscribe input[type="email"]::placeholder {
  font-size: 0.875rem;
  color: inherit;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .subscribe input[type="email"]::-webkit-input-placeholder {
    font-size: 0.625rem;
  }
  .subscribe input[type="email"]:-ms-input-placeholder {
    font-size: 0.625rem;
  }
  .subscribe input[type="email"]::-ms-input-placeholder {
    font-size: 0.625rem;
  }
  .subscribe input[type="email"]::placeholder {
    font-size: 0.625rem;
  }
}
@media (max-width: 576px) {
  .subscribe input[type="email"] {
    height: 2.75rem;
    padding: 1rem 6rem 1rem 2.5rem;
    font-size: 0.625rem;
  }
}
.subscribe button {
  position: absolute;
  right: 0.0625rem;
  padding: 0 2rem;
  height: calc(100% - 0.125rem);
}
@media (max-width: 576px) {
  .subscribe button {
    padding: 0 0.75rem;
    font-size: 0.625rem;
  }
}

.Video .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28.75rem, 1fr));
  gap: 2.5rem;
}

.Stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 2.5rem;
}

.contact .main-heading p {
  margin-bottom: 0;
}
.contact .content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 66.6666666667% 33.3333333333%;
  padding-top: 6.25rem;
}
@media (max-width: 991px) {
  .contact .content {
    grid-template-columns: 1fr;
  }
}
.contact .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2rem;
}
.contact .content form .input {
  padding: 1.5rem 1.25rem;
  color: #2196f3;
  border: 1px solid #ccc;
}
.contact .content form .input::-webkit-input-placeholder {
  color: #2196f3;
  text-transform: uppercase;
}
.contact .content form .input:-ms-input-placeholder {
  color: #2196f3;
  text-transform: uppercase;
}
.contact .content form .input::-ms-input-placeholder {
  color: #2196f3;
  text-transform: uppercase;
}
.contact .content form .input::placeholder {
  color: #2196f3;
  text-transform: uppercase;
}
.contact .content form textarea {
  height: 12.5rem;
}
.contact .content form button {
  margin-top: 1.875rem;
  padding: 1.5rem 2.75rem;
}
@media (min-width: 992px) {
  .contact .content form button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.contact .contact-ways {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 991px) {
  .contact .contact-ways {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (min-width: 992px) {
  .contact .contact-ways {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: calc(100% - 7.75rem);
  }
}
.contact .contact-ways h4 {
  color: #2196f3;
  margin-bottom: 2.625rem;
}
.contact .contact-ways a {
  text-decoration: none;
  display: block;
  color: inherit;
}
.contact .contact-ways address {
  font-style: normal;
}

footer {
  padding: 2.25rem;
  color: #1787e0;
  text-align: center;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2.5rem;
  padding: 5rem;
  position: relative;
}
footer .social {
  margin-top: 3.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  position: relative;
}
footer .social::before {
  content: "";
  position: absolute;
  background-color: #1787e0;
  bottom: 0px;
  right: 0px;
  height: 0.0625rem;
  width: calc(14.375rem - 0px);
  bottom: 50%;
  right: 50%;
}
footer .social p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}
footer .social a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
footer .social a:hover, footer .social a:focus, footer .social a:active {
  color: #2196f3;
}
footer ul {
  gap: 2rem;
}
footer p {
  position: relative;
  font-weight: 600;
  font-size: 0.75rem;
}
footer p .highlight {
  color: #2196f3;
}
@media (max-width: 991px) {
  footer p {
    font-size: 0.625rem;
  }
}
